#about {
    font-size: 1.5rem;
    padding: 4%;
    /* background-color: #FFFFFF; */
    min-height: 70vh;
}

#about > h1 {
    font-size: 2.7rem;
}

#about > .description {
    margin-bottom: 5vh;
}