/* #resume {
    padding: 2vw 6vw;
    background-color: #EE6352;
    color: #FFFFFF;
} */

#resume > h1 {
    font-size: 32pt;
}

button > a, button > a:hover {
    text-decoration: none;
    color: white;
}