.ant-row.ant-row-middle.jumbotron {
	background-image: linear-gradient(320deg, #9fb8a3 0%, #1fc8db 75%, #2cb5e8 90%);
	/* background-image: linear-gradient(320deg, #A3E7FC 0%, #23C9FF 75%); */
	background-attachment: fixed;
	height: 100vh;
	outline: white solid 1vw;
	outline-offset: -3vw;
	z-index: 1;
}

.jumbotron h1 {
	color: #f0f0f0;
	font-size: 4.5rem;
	text-align: center;
	margin-bottom: 0px;
}

.jumbotron h3 {
	color: #f0f0f0;
	font-size: 2.5rem;
	text-align: center;
}

.go-down > svg {
	position: absolute;
	top: 88vh;
	left: 50vw;
	z-index: 1000;
	width: 4vmax;
	fill: #0f325a36;
	stroke: #3f3f3f;
	stroke-width: 1;
	transition: 0.25s ease;
}

.go-down > svg:hover {
	width: 4.5vmax;
	top: 87.75vh;
	left: 49.75vw;
	transition: 0.25s ease;
}

path.path {
	fill: none;
	stroke-dasharray: 210;
	stroke-linejoin: round;
	stroke-dashoffset: 210;
	animation: dash 2s linear 1s forwards;
}

@keyframes dash {
	from {
		stroke: #33a7f433;
		stroke-width: 3;
	}
	to {
		stroke: #d8d27b;
		stroke-width: 3;
		stroke-dashoffset: 0;
	}
}