.jumbotron {
	height: 30vh;
	border-bottom: 2px solid #939393;
}

.jumbotron h1 {
	font-size: 54pt;
}

.jumbotron h3 {
	font-size: 32pt;
}

/* .path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	
	animation: dash infinite 4s linear;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
} */