#projects {
    padding: 4%;
    background-color: #545F66;
    min-height: 50vh;
}
#projects  h1 {
    color: #FFFFFF;
    font-size: max(125%, 2.7vmax);
}

.projectCard {
    width: min-content;
}

.projectModal {
    max-width: 80vw;
}

.cover > video, .cover > img {
    max-width: 100%;
    max-height: 300px;
}

img.cardCover {
    width: auto;
    height: min(30vw, 300px);
    min-height: 150px;
}